@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Poppins&family=Roboto+Condensed:wght@300;400&display=swap');

$font1:'Lobster', cursive;
$font2:'Roboto Condensed', sans-serif;
$font3: 'Lobster Two', cursive;
$font4: 'Poppins', sans-serif;
/*PaLeta de Colores */
$color1: #78BF97;
$color2: #038C3E;
$color3: #000;
$color4: #808080;
$color5: #fff;
/*NAV START*/

.navbar-dark .navbar-nav .nav-link {
    color: $color2;
    font-family: $font4
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: white;
    background-color: #2a8653;
    border-radius: 10px;
}

.fondo-nav{
    background-color: #F2F2F2;
}
/* END NAV */
/* JUMBOTRON START */

.jumbotron{
    background-image: url(/images/banner-3.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    color: black;
    text-shadow: 0px 1px  #A0AFA0;
    border-radius: 0;
    margin-bottom: 0;

    h1{
    font-weight: bolder;
    font-family: $font3;
    }
    p{
    font-size: 30px;
    font-family: $font2;

    }
}
.slide-right{-webkit-animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) forwards;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) forwards}
@-webkit-keyframes slide-right{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(100px);transform:translateX(100px)}}@keyframes slide-right{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(100px);transform:translateX(100px)}}



.jumbotron .btn-outline-success{
    background-color: $color2;
    color: $color5;
    border-color: $color5;

}
// JUMBOTRON END
/* Nosotros Start */
h2 {
    text-align: center;
    background-color: $color1;
    color: $color5;
    padding: 20px;
    margin-bottom: 0;
    font-family: $font4;
}

.nosotros {
    height: 500px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: $font4;
}

.quinesomos{
    padding: 10px;
    font-family: $font2;
}
/* Nosotros END */
/* Productos START */
.card img{
    height: 300px;
    width: 200px;
    align-self: center;
}

.card img:hover{
    transform: scale(1.2);
    transition: all 2s;
}

.card-body .btn{
    background-color: $color3;
    border: $color5 solid;
    border-radius: 20px;
}
// PRODUCTOS END
/*FOOTER START*/

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Images/background-footer.svg");
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;


    .logo img{
        width: 120px;
    }

    .terms{
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
    }

    .footer-h2{
        margin-bottom: 30px;
        color: #242424;
        font-weight: 700;
        background-color: $color5;
    }

    a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
    }

    a:hover{
        opacity: 0.8;
    }

    a .fab{
        font-size: 20px;
    }
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;


    p{
        margin-top: 20px;
        color: #7a7a7a;
    }

    hr{
        border: none;
        height: 1px;
        background-color: #7a7a7a;
    }
}

// FOOTER END
/*PRODUCTOS.HTML START*/

.container__article2 .box__article2 img{
    width: 250px;
    height: 300px;
    background-color: $color2;
    margin: 20px;
    border-radius: 8px;
}

.container__article2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    margin: 5%;
    grid-gap: 30px;
}

.body__text2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: $color2;
    border-radius: 8px;
    color: white;
}

@media screen and (max-width: 760px){
    .container__article2{
        max-width: 1000px;
        padding: 0px 20px;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
}
// PRODUCTOS.HTML END
/*CONTACTO.HTML START*/

.contacto {
    background: $color2;
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 7px;
}

.footer-h2 {
    color: $color5;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: $color2;
    font-family: $font4;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100%;
    max-height: 100px;
    max-width: 100%;
}

#boton {
    background: rgba(0, 0, 0, 0.918);
    color: $color5;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
    background: rgba(5, 5, 5, 0.5);
}
/*CONTACTO END*/
